@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

main {
  display: block; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

input {
  overflow: visible; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

details {
  display: block; }

summary {
  display: list-item; }

menu {
  display: block; }

canvas {
  display: inline-block; }

[hidden], template {
  display: none; }

.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*, :after, :before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

textarea {
  height: auto;
  min-height: 50px; }

select, textarea {
  border-radius: 3px; }

select {
  box-sizing: border-box;
  width: 100%; }

.map_canvas embed, .map_canvas img, .map_canvas object, .mqa-display embed, .mqa-display img, .mqa-display object {
  max-width: none !important; }

button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;
  background: transparent;
  line-height: 1; }

[data-whatinput=mouse] button {
  outline: 0; }

pre {
  overflow: auto; }

.is-visible {
  display: block !important; }

.is-hidden {
  display: none !important; }

.row {
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto; }

.row:after, .row:before {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.row.collapse > .column, .row.collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.row .row {
  margin-right: -.9375rem;
  margin-left: -.9375rem; }

@media print, screen and (min-width: 40em) {
  .row .row {
    margin-right: -.9375rem;
    margin-left: -.9375rem; } }
@media print, screen and (min-width: 64em) {
  .row .row {
    margin-right: -.9375rem;
    margin-left: -.9375rem; } }
.row .row.collapse {
  margin-right: 0;
  margin-left: 0; }

.row.expanded {
  max-width: none; }

.row.expanded .row {
  margin-right: auto;
  margin-left: auto; }

.row:not(.expanded) .row {
  max-width: none; }

.column, .columns {
  width: 100%;
  float: left;
  padding-right: .9375rem;
  padding-left: .9375rem; }

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right; }

.column.end:last-child:last-child, .end.columns:last-child:last-child {
  float: left; }

.column.row.row, .row.row.columns {
  float: none; }

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.small-1 {
  width: 8.33333%; }

.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-offset-0 {
  margin-left: 0; }

.small-2 {
  width: 16.66667%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  width: 33.33333%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.66667%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  width: 58.33333%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.66667%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  width: 83.33333%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.66667%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  float: left;
  width: 100%; }

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
  clear: both; }

.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
  float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  float: left;
  width: 50%; }

.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
  clear: both; }

.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
  float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  float: left;
  width: 33.33333%; }

.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
  clear: both; }

.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
  float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  float: left;
  width: 25%; }

.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
  clear: both; }

.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
  float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  float: left;
  width: 20%; }

.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
  clear: both; }

.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
  float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  float: left;
  width: 16.66667%; }

.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
  clear: both; }

.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
  float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  float: left;
  width: 14.28571%; }

.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
  clear: both; }

.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
  float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  float: left;
  width: 12.5%; }

.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
  clear: both; }

.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
  float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.expanded.row .small-collapse.row, .small-collapse .row {
  margin-right: 0;
  margin-left: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: .9375rem;
  padding-left: .9375rem; }

.small-centered {
  margin-right: auto;
  margin-left: auto; }

.small-centered, .small-centered:last-child:not(:first-child) {
  float: none;
  clear: both; }

.small-pull-0, .small-push-0, .small-uncentered {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0; }

@media print, screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%; }

  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }

  .medium-offset-0 {
    margin-left: 0; }

  .medium-2 {
    width: 16.66667%; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%; }

  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }

  .medium-offset-1 {
    margin-left: 8.33333%; }

  .medium-3 {
    width: 25%; }

  .medium-push-3 {
    position: relative;
    left: 25%; }

  .medium-pull-3 {
    position: relative;
    left: -25%; }

  .medium-offset-2 {
    margin-left: 16.66667%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%; }

  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }

  .medium-offset-3 {
    margin-left: 25%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%; }

  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }

  .medium-offset-4 {
    margin-left: 33.33333%; }

  .medium-6 {
    width: 50%; }

  .medium-push-6 {
    position: relative;
    left: 50%; }

  .medium-pull-6 {
    position: relative;
    left: -50%; }

  .medium-offset-5 {
    margin-left: 41.66667%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%; }

  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }

  .medium-offset-6 {
    margin-left: 50%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%; }

  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }

  .medium-offset-7 {
    margin-left: 58.33333%; }

  .medium-9 {
    width: 75%; }

  .medium-push-9 {
    position: relative;
    left: 75%; }

  .medium-pull-9 {
    position: relative;
    left: -75%; }

  .medium-offset-8 {
    margin-left: 66.66667%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%; }

  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }

  .medium-offset-9 {
    margin-left: 75%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%; }

  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }

  .medium-offset-10 {
    margin-left: 83.33333%; }

  .medium-12 {
    width: 100%; }

  .medium-offset-11 {
    margin-left: 91.66667%; }

  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%; }

  .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }

  .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
    float: left; }

  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%; }

  .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }

  .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
    float: left; }

  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }

  .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }

  .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
    float: left; }

  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%; }

  .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }

  .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
    float: left; }

  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%; }

  .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }

  .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
    float: left; }

  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }

  .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }

  .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
    float: left; }

  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }

  .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }

  .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
    float: left; }

  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }

  .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
    clear: none; }

  .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }

  .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
    float: left; }

  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }

  .expanded.row .medium-collapse.row, .medium-collapse .row {
    margin-right: 0;
    margin-left: 0; }

  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: .9375rem;
    padding-left: .9375rem; }

  .medium-centered {
    margin-right: auto;
    margin-left: auto; }

  .medium-centered, .medium-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

  .medium-pull-0, .medium-push-0, .medium-uncentered {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }
@media print, screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }

  .large-push-1 {
    position: relative;
    left: 8.33333%; }

  .large-pull-1 {
    position: relative;
    left: -8.33333%; }

  .large-offset-0 {
    margin-left: 0; }

  .large-2 {
    width: 16.66667%; }

  .large-push-2 {
    position: relative;
    left: 16.66667%; }

  .large-pull-2 {
    position: relative;
    left: -16.66667%; }

  .large-offset-1 {
    margin-left: 8.33333%; }

  .large-3 {
    width: 25%; }

  .large-push-3 {
    position: relative;
    left: 25%; }

  .large-pull-3 {
    position: relative;
    left: -25%; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-4 {
    width: 33.33333%; }

  .large-push-4 {
    position: relative;
    left: 33.33333%; }

  .large-pull-4 {
    position: relative;
    left: -33.33333%; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-5 {
    width: 41.66667%; }

  .large-push-5 {
    position: relative;
    left: 41.66667%; }

  .large-pull-5 {
    position: relative;
    left: -41.66667%; }

  .large-offset-4 {
    margin-left: 33.33333%; }

  .large-6 {
    width: 50%; }

  .large-push-6 {
    position: relative;
    left: 50%; }

  .large-pull-6 {
    position: relative;
    left: -50%; }

  .large-offset-5 {
    margin-left: 41.66667%; }

  .large-7 {
    width: 58.33333%; }

  .large-push-7 {
    position: relative;
    left: 58.33333%; }

  .large-pull-7 {
    position: relative;
    left: -58.33333%; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-8 {
    width: 66.66667%; }

  .large-push-8 {
    position: relative;
    left: 66.66667%; }

  .large-pull-8 {
    position: relative;
    left: -66.66667%; }

  .large-offset-7 {
    margin-left: 58.33333%; }

  .large-9 {
    width: 75%; }

  .large-push-9 {
    position: relative;
    left: 75%; }

  .large-pull-9 {
    position: relative;
    left: -75%; }

  .large-offset-8 {
    margin-left: 66.66667%; }

  .large-10 {
    width: 83.33333%; }

  .large-push-10 {
    position: relative;
    left: 83.33333%; }

  .large-pull-10 {
    position: relative;
    left: -83.33333%; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-11 {
    width: 91.66667%; }

  .large-push-11 {
    position: relative;
    left: 91.66667%; }

  .large-pull-11 {
    position: relative;
    left: -91.66667%; }

  .large-offset-10 {
    margin-left: 83.33333%; }

  .large-12 {
    width: 100%; }

  .large-offset-11 {
    margin-left: 91.66667%; }

  .large-up-1 > .column, .large-up-1 > .columns {
    float: left;
    width: 100%; }

  .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }

  .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
    float: left; }

  .large-up-2 > .column, .large-up-2 > .columns {
    float: left;
    width: 50%; }

  .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }

  .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
    float: left; }

  .large-up-3 > .column, .large-up-3 > .columns {
    float: left;
    width: 33.33333%; }

  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }

  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
    float: left; }

  .large-up-4 > .column, .large-up-4 > .columns {
    float: left;
    width: 25%; }

  .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }

  .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
    float: left; }

  .large-up-5 > .column, .large-up-5 > .columns {
    float: left;
    width: 20%; }

  .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }

  .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
    float: left; }

  .large-up-6 > .column, .large-up-6 > .columns {
    float: left;
    width: 16.66667%; }

  .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }

  .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
    float: left; }

  .large-up-7 > .column, .large-up-7 > .columns {
    float: left;
    width: 14.28571%; }

  .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }

  .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
    float: left; }

  .large-up-8 > .column, .large-up-8 > .columns {
    float: left;
    width: 12.5%; }

  .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
    clear: none; }

  .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }

  .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
    float: left; }

  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }

  .expanded.row .large-collapse.row, .large-collapse .row {
    margin-right: 0;
    margin-left: 0; }

  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: .9375rem;
    padding-left: .9375rem; }

  .large-centered {
    margin-right: auto;
    margin-left: auto; }

  .large-centered, .large-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

  .large-pull-0, .large-push-0, .large-uncentered {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }
.column-block {
  margin-bottom: 1.875rem; }

.column-block > :last-child {
  margin-bottom: 0; }

.slide-in-down.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateY(-100%);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-in-down.mui-enter.mui-enter-active {
  transform: translateY(0); }

.slide-in-left.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateX(-100%);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-in-left.mui-enter.mui-enter-active {
  transform: translateX(0); }

.slide-in-up.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateY(100%);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-in-up.mui-enter.mui-enter-active {
  transform: translateY(0); }

.slide-in-right.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateX(100%);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-in-right.mui-enter.mui-enter-active {
  transform: translateX(0); }

.slide-out-down.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-out-down.mui-leave.mui-leave-active {
  transform: translateY(100%); }

.slide-out-right.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-out-right.mui-leave.mui-leave-active {
  transform: translateX(100%); }

.slide-out-up.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-out-up.mui-leave.mui-leave-active {
  transform: translateY(-100%); }

.slide-out-left.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform,opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slide-out-left.mui-leave.mui-leave-active {
  transform: translateX(-100%); }

.fade-in.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  opacity: 0;
  transition-property: opacity; }

.fade-in.mui-enter.mui-enter-active {
  opacity: 1; }

.fade-out.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  opacity: 1;
  transition-property: opacity; }

.fade-out.mui-leave.mui-leave-active {
  opacity: 0; }

.hinge-in-from-top.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: top;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-top.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-in-from-right.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: right;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-right.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-in-from-bottom.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(90deg);
  transform-origin: bottom;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-bottom.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-in-from-left.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(90deg);
  transform-origin: left;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-left.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-in-from-middle-x.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: center;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-middle-x.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-in-from-middle-y.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: center;
  transition-property: transform,opacity;
  opacity: 0; }

.hinge-in-from-middle-y.mui-enter.mui-enter-active, .hinge-out-from-top.mui-leave {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1; }

.hinge-out-from-top.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform-origin: top;
  transition-property: transform,opacity; }

.hinge-out-from-top.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(-90deg);
  opacity: 0; }

.hinge-out-from-right.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: right;
  transition-property: transform,opacity;
  opacity: 1; }

.hinge-out-from-right.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(-90deg);
  opacity: 0; }

.hinge-out-from-bottom.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: bottom;
  transition-property: transform,opacity;
  opacity: 1; }

.hinge-out-from-bottom.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(90deg);
  opacity: 0; }

.hinge-out-from-left.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: left;
  transition-property: transform,opacity;
  opacity: 1; }

.hinge-out-from-left.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(90deg);
  opacity: 0; }

.hinge-out-from-middle-x.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform,opacity;
  opacity: 1; }

.hinge-out-from-middle-x.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(-90deg);
  opacity: 0; }

.hinge-out-from-middle-y.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform,opacity;
  opacity: 1; }

.hinge-out-from-middle-y.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(-90deg);
  opacity: 0; }

.scale-in-up.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: scale(0.5);
  transition-property: transform,opacity;
  opacity: 0; }

.scale-in-up.mui-enter.mui-enter-active {
  transform: scale(1);
  opacity: 1; }

.scale-in-down.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: scale(1.5);
  transition-property: transform,opacity;
  opacity: 0; }

.scale-in-down.mui-enter.mui-enter-active, .scale-out-up.mui-leave {
  transform: scale(1);
  opacity: 1; }

.scale-out-up.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-property: transform,opacity; }

.scale-out-up.mui-leave.mui-leave-active {
  transform: scale(1.5);
  opacity: 0; }

.scale-out-down.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: scale(1);
  transition-property: transform,opacity;
  opacity: 1; }

.scale-out-down.mui-leave.mui-leave-active {
  transform: scale(0.5);
  opacity: 0; }

.spin-in.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: rotate(-270deg);
  transition-property: transform,opacity;
  opacity: 0; }

.spin-in.mui-enter.mui-enter-active, .spin-out.mui-leave {
  transform: rotate(0);
  opacity: 1; }

.spin-out.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-property: transform,opacity; }

.spin-in-ccw.mui-enter, .spin-out.mui-leave.mui-leave-active {
  transform: rotate(270deg);
  opacity: 0; }

.spin-in-ccw.mui-enter {
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-property: transform,opacity; }

.spin-in-ccw.mui-enter.mui-enter-active, .spin-out-ccw.mui-leave {
  transform: rotate(0);
  opacity: 1; }

.spin-out-ccw.mui-leave {
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-property: transform,opacity; }

.spin-out-ccw.mui-leave.mui-leave-active {
  transform: rotate(-270deg);
  opacity: 0; }

.slow {
  transition-duration: 0.75s !important; }

.fast {
  transition-duration: 0.25s !important; }

.linear {
  transition-timing-function: linear !important; }

.ease {
  transition-timing-function: ease !important; }

.ease-in {
  transition-timing-function: ease-in !important; }

.ease-out {
  transition-timing-function: ease-out !important; }

.ease-in-out {
  transition-timing-function: ease-in-out !important; }

.bounce-in {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.24, 1.245) !important; }

.bounce-out {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.515, 0.845) !important; }

.bounce-in-out {
  transition-timing-function: cubic-bezier(0.76, -0.245, 0.24, 1.245) !important; }

.short-delay {
  transition-delay: 0.3s !important; }

.long-delay {
  transition-delay: 0.7s !important; }

.shake {
  animation-name: a; }

@keyframes a {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90% {
    transform: translateX(7%); }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: translateX(-7%); } }
.spin-ccw, .spin-cw {
  animation-name: b; }

@keyframes b {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }
.wiggle {
  animation-name: c; }

@keyframes c {
  40%,50%,60% {
    transform: rotate(7deg); }
  35%,45%,55%,65% {
    transform: rotate(-7deg); }
  0%,30%,70%,to {
    transform: rotate(0); } }
.shake, .spin-ccw, .spin-cw, .wiggle {
  animation-duration: .5s; }

.infinite {
  animation-iteration-count: infinite; }

.slow {
  animation-duration: 0.75s !important; }

.fast {
  animation-duration: 0.25s !important; }

.linear {
  animation-timing-function: linear !important; }

.ease {
  animation-timing-function: ease !important; }

.ease-in {
  animation-timing-function: ease-in !important; }

.ease-out {
  animation-timing-function: ease-out !important; }

.ease-in-out {
  animation-timing-function: ease-in-out !important; }

.bounce-in {
  animation-timing-function: cubic-bezier(0.485, 0.155, 0.24, 1.245) !important; }

.bounce-out {
  animation-timing-function: cubic-bezier(0.485, 0.155, 0.515, 0.845) !important; }

.bounce-in-out {
  animation-timing-function: cubic-bezier(0.76, -0.245, 0.24, 1.245) !important; }

.short-delay {
  animation-delay: 0.3s !important; }

.long-delay {
  animation-delay: 0.7s !important; }

html, body {
  overflow: hidden; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: center no-repeat #AFDBD1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .se-pre-con img {
    height: 200px;
    width: auto;
    opacity: 0; }

header {
  width: 100vw;
  position: static; }
  header .logo {
    top: 40px;
    left: 40px;
    position: absolute;
    width: 70px;
    content: url("../logo/logo-circle-wh-on-bl.png"); }

@keyframes rotateMenuX {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(450deg) translate(35%, 20%); } }
.main-content {
  height: 100vh;
  position: relative; }
  .main-content .line {
    content: '';
    height: 2px;
    width: 24%;
    bottom: 20%;
    left: 13%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; }

.first-half {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  align-items: center; }
  .first-half .user-input {
    align-self: center;
    margin: auto; }
    .first-half .user-input .input {
      margin: auto;
      box-shadow: none;
      background: transparent;
      border-style: none;
      outline: none;
      position: relative;
      width: 300px; }
  .first-half .controls-icon {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8%;
    position: relative; }
    .first-half .controls-icon .firstLine {
      height: 2px;
      width: 80%;
      top: -100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute; }

.second-half {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0; }
  .second-half #container {
    margin: auto;
    position: absolute;
    height: calc(100vh - 200px);
    width: calc(50vw - 200px);
    cursor: pointer; }
  .second-half #btn-share {
    margin-bottom: 10%;
    position: absolute;
    bottom: 0; }

.third-half {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  height: 100vh;
  right: -100%; }
  .third-half .letters-row-an, .third-half .letters-row-oo, .third-half .letters-row-110 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px; }
  .third-half .letters {
    justify-content: center; }
  .third-half .letter {
    margin: 6px; }
    .third-half .letter svg {
      height: 60px;
      margin: auto;
      width: auto;
      margin-left: 10; }
  .third-half .alphabet-filter {
    align-self: flex-end;
    justify-content: center;
    margin-bottom: 8%;
    position: relative;
    z-index: 200; }
    .third-half .alphabet-filter .firstLine {
      height: 2px;
      width: 80%;
      top: -90%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      justify-content: center; }
  .third-half .alphabet-filter .filter {
    margin: 0 30px; }
    .third-half .alphabet-filter .filter #btn-filter {
      height: 42px; }

#letter-outline, #Shape {
  fill: none; }

#letter-outline {
  width: 200px;
  height: auto; }

#A {
  width: 200px;
  height: auto; }

.letters #letter-outline {
  /*stafurinn*/
  stroke: #000;
  stroke-dasharray: 430px;
  stroke-dashoffset: 430px;
  fill: none; }

.letters .palm {
  /*fyllingin inni höndinni*/
  fill: #FFFFFF; }

.letters #Shape {
  /*höndin*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 110px;
  stroke-dashoffset: 110px; }

.numbers .start.stafur {
  /*stafurinn*/
  stroke-miterlimit: 10;
  stroke: #616161;
  stroke-dasharray: 430px;
  stroke-dashoffset: 430px;
  fill: none; }

.numbers .start.palm {
  fill: #4a4a4a; }

.numbers .start#Shape {
  /*höndin*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #616161;
  stroke-dasharray: 110px;
  stroke-dashoffset: 110px; }

.hover, #btn-loop:hover, #btn-pause:hover, #btn-word:hover, #btn-filter :after, #btn-filter:hover, .color-pick .gif-bg-color:hover {
  cursor: pointer; }

.squareButton, #btn-share {
  font-family: nunito-regular;
  border: solid 1px #fff;
  color: #fff;
  opacity: 50%;
  background-color: transparent;
  height: 42px;
  width: 192px;
  font-size: 16px;
  transition: .5s ease;
  letter-spacing: 5px;
  transition: all 0.1s ease-out;
  position: relative;
  background: none; }
  .squareButton:after, #btn-share:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: #fff; }
  .squareButton:hover, #btn-share:hover, .squareButton:active, #btn-share:active {
    color: #AFDBD1; }
  .squareButton:hover:after, #btn-share:hover:after, .squareButton:active:after, #btn-share:active:after {
    height: 100%; }

.sideButton, #btn-alpha, #btn-write {
  position: absolute;
  z-index: 10;
  font-family: nunito-bold;
  color: #FFFFFF;
  align-self: center;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  font-size: 24px;
  width: 40px;
  height: 50px;
  transition: .2s ease-out;
  position: absolute; }
  .sideButton:after, #btn-alpha:after, #btn-write:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    height: 100%;
    width: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); }
  .sideButton:hover, #btn-alpha:hover, #btn-write:hover, .sideButton:active, #btn-alpha:active, #btn-write:active {
    width: 50px;
    height: 50px;
    color: #AFDBD1; }
  .sideButton:hover:after, #btn-alpha:hover:after, #btn-write:hover:after, .sideButton:active:after, #btn-alpha:active:after, #btn-write:active:after {
    width: 100%; }

.socialIcon, .social-icons #twitter, .social-icons #instagram, .social-icons #facebook, .social-icons #messenger, .social-icons #download {
  opacity: 50%;
  height: 20px; }

#background {
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: -1;
  transform: translate(45%);
  background-color: grey;
  transform: rotate(7deg);
  right: -4%;
  background: #F5D04C;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F5D04C, #FFB000);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F5D04C, #FFB000);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F5D04C, #FFB000);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F5D04C, #FFB000);
  /* Standard syntax */ }

@keyframes endlessloop {
  0% {
    top: 13px;
    left: 30px; }
  0.61% {
    top: 13px;
    left: 30px; }
  1.22% {
    top: 12.29px;
    left: 29.29px; }
  1.83% {
    top: 11.59px;
    left: 28.59px; }
  2.44% {
    top: 10.88px;
    left: 27.88px; }
  3.05% {
    top: 10.17px;
    left: 27.17px; }
  3.66% {
    top: 9.46px;
    left: 26.46px; }
  4.27% {
    top: 8.76px;
    left: 25.76px; }
  4.88% {
    top: 8.05px;
    left: 25.05px; }
  5.49% {
    top: 7.34px;
    left: 24.34px; }
  6.1% {
    top: 6.64px;
    left: 23.64px; }
  6.71% {
    top: 5.92px;
    left: 22.94px; }
  7.32% {
    top: 5.19px;
    left: 22.25px; }
  7.93% {
    top: 4.51px;
    left: 21.52px; }
  8.54% {
    top: 3.87px;
    left: 20.75px; }
  9.15% {
    top: 3.29px;
    left: 19.94px; }
  9.76% {
    top: 2.75px;
    left: 19.1px; }
  10.37% {
    top: 2.28px;
    left: 18.22px; }
  10.98% {
    top: 1.87px;
    left: 17.31px; }
  11.59% {
    top: 1.53px;
    left: 16.37px; }
  12.2% {
    top: 1.27px;
    left: 15.4px; }
  12.8% {
    top: 1.09px;
    left: 14.42px; }
  13.41% {
    top: 1.01px;
    left: 13.42px; }
  14.02% {
    top: 1.02px;
    left: 12.42px; }
  14.63% {
    top: 1.11px;
    left: 11.43px; }
  15.24% {
    top: 1.3px;
    left: 10.44px; }
  15.85% {
    top: 1.58px;
    left: 9.48px; }
  16.46% {
    top: 1.93px;
    left: 8.55px; }
  17.07% {
    top: 2.35px;
    left: 7.64px; }
  17.68% {
    top: 2.83px;
    left: 6.77px; }
  18.29% {
    top: 3.38px;
    left: 5.93px; }
  18.9% {
    top: 3.97px;
    left: 5.12px; }
  19.51% {
    top: 4.62px;
    left: 4.36px; }
  20.12% {
    top: 5.3px;
    left: 3.63px; }
  20.73% {
    top: 6.04px;
    left: 2.96px; }
  21.34% {
    top: 6.86px;
    left: 2.39px; }
  21.95% {
    top: 7.76px;
    left: 1.94px; }
  22.56% {
    top: 8.7px;
    left: 1.6px; }
  23.17% {
    top: 9.66px;
    left: 1.34px; }
  23.78% {
    top: 10.64px;
    left: 1.16px; }
  24.39% {
    top: 11.64px;
    left: 1.05px; }
  25% {
    top: 12.64px;
    left: 1px; }
  25.61% {
    top: 13.64px;
    left: 1.01px; }
  26.22% {
    top: 14.63px;
    left: 1.08px; }
  26.83% {
    top: 15.63px;
    left: 1.2px; }
  27.44% {
    top: 16.61px;
    left: 1.4px; }
  28.05% {
    top: 17.57px;
    left: 1.68px; }
  28.66% {
    top: 18.49px;
    left: 2.05px; }
  29.27% {
    top: 19.37px;
    left: 2.53px; }
  29.88% {
    top: 20.16px;
    left: 3.14px; }
  30.49% {
    top: 20.89px;
    left: 3.83px; }
  31.1% {
    top: 21.57px;
    left: 4.56px; }
  31.71% {
    top: 22.2px;
    left: 5.34px; }
  32.32% {
    top: 22.78px;
    left: 6.15px; }
  32.93% {
    top: 23.31px;
    left: 7px; }
  33.54% {
    top: 23.77px;
    left: 7.88px; }
  34.15% {
    top: 24.18px;
    left: 8.8px; }
  34.76% {
    top: 24.51px;
    left: 9.74px; }
  35.37% {
    top: 24.76px;
    left: 10.71px; }
  35.98% {
    top: 24.92px;
    left: 11.7px; }
  36.59% {
    top: 25px;
    left: 12.69px; }
  37.2% {
    top: 24.98px;
    left: 13.69px; }
  37.8% {
    top: 24.87px;
    left: 14.69px; }
  38.41% {
    top: 24.67px;
    left: 15.67px; }
  39.02% {
    top: 24.39px;
    left: 16.63px; }
  39.63% {
    top: 24.03px;
    left: 17.56px; }
  40.24% {
    top: 23.6px;
    left: 18.46px; }
  40.85% {
    top: 23.11px;
    left: 19.33px; }
  41.46% {
    top: 22.56px;
    left: 20.17px; }
  42.07% {
    top: 21.96px;
    left: 20.97px; }
  42.68% {
    top: 21.31px;
    left: 21.73px; }
  43.29% {
    top: 20.61px;
    left: 22.45px; }
  43.9% {
    top: 19.88px;
    left: 23.12px; }
  44.51% {
    top: 19.17px;
    left: 23.83px; }
  45.12% {
    top: 18.46px;
    left: 24.54px; }
  45.73% {
    top: 17.76px;
    left: 25.24px; }
  46.34% {
    top: 17.05px;
    left: 25.95px; }
  46.95% {
    top: 16.34px;
    left: 26.66px; }
  47.56% {
    top: 15.63px;
    left: 27.37px; }
  48.17% {
    top: 14.93px;
    left: 28.07px; }
  48.78% {
    top: 14.22px;
    left: 28.78px; }
  49.39% {
    top: 13.51px;
    left: 29.49px; }
  50% {
    top: 12.81px;
    left: 30.19px; }
  50.61% {
    top: 12.1px;
    left: 30.9px; }
  51.22% {
    top: 11.39px;
    left: 31.61px; }
  51.83% {
    top: 10.68px;
    left: 32.32px; }
  52.44% {
    top: 9.98px;
    left: 33.02px; }
  53.05% {
    top: 9.27px;
    left: 33.73px; }
  53.66% {
    top: 8.56px;
    left: 34.44px; }
  54.27% {
    top: 7.86px;
    left: 35.14px; }
  54.88% {
    top: 7.15px;
    left: 35.85px; }
  55.49% {
    top: 6.44px;
    left: 36.56px; }
  56.1% {
    top: 5.72px;
    left: 37.24px; }
  56.71% {
    top: 5px;
    left: 37.94px; }
  57.32% {
    top: 4.33px;
    left: 38.68px; }
  57.93% {
    top: 3.71px;
    left: 39.47px; }
  58.54% {
    top: 3.13px;
    left: 40.29px; }
  59.15% {
    top: 2.61px;
    left: 41.14px; }
  59.76% {
    top: 2.16px;
    left: 42.03px; }
  60.37% {
    top: 1.77px;
    left: 42.95px; }
  60.98% {
    top: 1.45px;
    left: 43.9px; }
  61.59% {
    top: 1.21px;
    left: 44.87px; }
  62.2% {
    top: 1.06px;
    left: 45.86px; }
  62.8% {
    top: 1px;
    left: 46.85px; }
  63.41% {
    top: 1.03px;
    left: 47.85px; }
  64.02% {
    top: 1.16px;
    left: 48.85px; }
  64.63% {
    top: 1.37px;
    left: 49.82px; }
  65.24% {
    top: 1.66px;
    left: 50.78px; }
  65.85% {
    top: 2.04px;
    left: 51.71px; }
  66.46% {
    top: 2.47px;
    left: 52.6px; }
  67.07% {
    top: 2.98px;
    left: 53.47px; }
  67.68% {
    top: 3.53px;
    left: 54.3px; }
  68.29% {
    top: 4.14px;
    left: 55.09px; }
  68.9% {
    top: 4.8px;
    left: 55.85px; }
  69.51% {
    top: 5.5px;
    left: 56.56px; }
  70.12% {
    top: 6.26px;
    left: 57.21px; }
  70.73% {
    top: 7.1px;
    left: 57.75px; }
  71.34% {
    top: 8.01px;
    left: 58.16px; }
  71.95% {
    top: 8.96px;
    left: 58.48px; }
  72.56% {
    top: 9.93px;
    left: 58.71px; }
  73.17% {
    top: 10.92px;
    left: 58.87px; }
  73.78% {
    top: 11.91px;
    left: 58.97px; }
  74.39% {
    top: 12.91px;
    left: 59px; }
  75% {
    top: 13.91px;
    left: 58.98px; }
  75.61% {
    top: 14.91px;
    left: 58.9px; }
  76.22% {
    top: 15.9px;
    left: 58.75px; }
  76.83% {
    top: 16.87px;
    left: 58.53px; }
  77.44% {
    top: 17.82px;
    left: 58.22px; }
  78.05% {
    top: 18.74px;
    left: 57.83px; }
  78.66% {
    top: 19.6px;
    left: 57.32px; }
  79.27% {
    top: 20.37px;
    left: 56.68px; }
  79.88% {
    top: 21.08px;
    left: 55.97px; }
  80.49% {
    top: 21.74px;
    left: 55.23px; }
  81.1% {
    top: 22.36px;
    left: 54.44px; }
  81.71% {
    top: 22.93px;
    left: 53.62px; }
  82.32% {
    top: 23.44px;
    left: 52.76px; }
  82.93% {
    top: 23.89px;
    left: 51.87px; }
  83.54% {
    top: 24.28px;
    left: 50.94px; }
  84.15% {
    top: 24.58px;
    left: 49.99px; }
  84.76% {
    top: 24.81px;
    left: 49.02px; }
  85.37% {
    top: 24.95px;
    left: 48.03px; }
  85.98% {
    top: 25px;
    left: 47.03px; }
  86.59% {
    top: 24.96px;
    left: 46.03px; }
  87.2% {
    top: 24.82px;
    left: 45.04px; }
  87.8% {
    top: 24.6px;
    left: 44.07px; }
  88.41% {
    top: 24.3px;
    left: 43.11px; }
  89.02% {
    top: 23.92px;
    left: 42.19px; }
  89.63% {
    top: 23.47px;
    left: 41.3px; }
  90.24% {
    top: 22.96px;
    left: 40.43px; }
  90.85% {
    top: 22.4px;
    left: 39.61px; }
  91.46% {
    top: 21.78px;
    left: 38.82px; }
  92.07% {
    top: 21.12px;
    left: 38.07px; }
  92.68% {
    top: 20.41px;
    left: 37.36px; }
  93.29% {
    top: 19.68px;
    left: 36.68px; }
  93.9% {
    top: 18.98px;
    left: 35.98px; }
  94.51% {
    top: 18.27px;
    left: 35.27px; }
  95.12% {
    top: 17.56px;
    left: 34.56px; }
  95.73% {
    top: 16.85px;
    left: 33.85px; }
  96.34% {
    top: 16.15px;
    left: 33.15px; }
  96.95% {
    top: 15.44px;
    left: 32.44px; }
  97.56% {
    top: 14.73px;
    left: 31.73px; }
  98.17% {
    top: 14.03px;
    left: 31.03px; }
  98.78% {
    top: 13.32px;
    left: 30.32px; } }
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.eot");
  src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"); }
ul {
  list-style-type: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  outline: none; }

#btn-loop, #btn-pause, #btn-word {
  position: relative;
  text-align: center;
  margin: 20px; }
  #btn-loop .iconFill, #btn-pause .iconFill, #btn-word .iconFill {
    opacity: 50%; }
  #btn-loop .ball, #btn-pause .ball, #btn-word .ball {
    width: 9px;
    height: 9px;
    background-color: #000;
    transform: translate(150%, -60%);
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    animation: endlessloop linear 2s infinite; }
#btn-alpha {
  right: -1px;
  border-radius: 100px 0 0 100px; }
  #btn-alpha:after {
    right: 0;
    border-radius: 100px 0 0 100px; }
#btn-write {
  left: -1px;
  border-radius: 0 100px 100px 0; }
  #btn-write:after {
    left: 0;
    border-radius: 0 100px 100px 0; }
#btn-filter :after {
  font-family: nunito-bold;
  content: '';
  width: 100px;
  height: 30px; }
#btn-filter:visited {
  color: yellow; }

.path-loop-stroke {
  stroke: #d8d8d8; }
.path-loop-fill {
  fill: #d8d8d8; }
.path-play {
  fill: #000; }
.path-word {
  fill: #d8d8d8; }

[type='text']:focus,
textarea:focus {
  outline: none;
  border-style: none;
  background-color: none;
  box-shadow: none;
  transition: none; }

input {
  box-shadow: none;
  font-family: nunito-regular;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
  text-align: center; }
  input:focus {
    box-shadow: none;
    outline: none; }

textarea {
  width: 200px;
  resize: none;
  font-family: nunito-regular;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 24px;
  height: 1.1em;
  padding: 2px; }

.modal {
  opacity: 0;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.85);
  /* Modal Content/Box */ }
  .modal:hover {
    cursor: url(../icon/close-btn.png), auto; }

.modal-content {
  background-color: #D7EDE8;
  border-radius: 3px;
  margin: auto;
  /* 15% from the top and centered */
  padding: 20px;
  height: 70%;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-between; }
  .modal-content:hover {
    cursor: initial; }

.hand-gif {
  height: 70%;
  border-radius: 3px;
  margin: auto;
  background-color: #AFDBD1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hand-gif #gif {
    height: auto;
    max-width: 200px;
    width: 100%; }

.color-pick {
  display: flex;
  align-items: center;
  justify-content: center; }
  .color-pick .gif-bg-color {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 2%; }
  .color-pick .pick-pink {
    background-color: #EDC8CD; }
  .color-pick .pick-green {
    background-color: #AFDBD1; }
  .color-pick .pick-yellow {
    background-color: #FAFD7B; }
  .color-pick .pick-orange {
    background-color: #F3C362; }
  .color-pick .pick-blue {
    background-color: #7BCFFD; }

.modalLine {
  content: '';
  height: 2px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5); }

.social-icons {
  display: flex;
  position: relative;
  margin: 2%;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px; }
  .social-icons .icon {
    margin: 0% 4% 4%; }

/*# sourceMappingURL=application.css.map */
