
$white          : #fff;
$black          : #000;

$Honeysuckle		: #FAFD7B;
$LightHoneysuckle	: #FDFFB8;
$CreamCan			: #F3C362;
$LightCreamCan		: #F9DFA9;
$Sinbad				: #AFDBD1;
$LightSinbad		: #D7EDE8;
$BabyPink			: #EDC8CD;
$LightBabyPink		: #F4DCDF;
$Malibu				: #7BCFFD;
$LightMalibu		: #BEE7FE;
$White				: #FFFFFF;
$Black				: #000;
$LightGrey			: #d8d8d8;
$DarkGrey			: #383838;
$Grey				: #7f7f7f;

$Mustard			: #F5D04C;
$DarkMustard		: #FFB000;
$mustardDark		: #FFB000;





// Opacity 
$op-inactive	: 50%;
$halfOpacity	: 50%;
$black-opacity :	rgba(0,0,0,.5);
$white-opacity : rgba(255,255,255,.5);

// Shadow
$color-shadow       : rgba($black,.5);

//Font family
$stack-nunito  : 'Nunito', sans-serif;
$nunito-light : nunito-light;
$nunito-regular : nunito-regular;
$nunito-bold : nunito-bold;

// $font-extralight: 200;
// $font-light: 300;
// $font-regular: 400;
// $font-bold: 700; 

//Letter Spacing


// Border radius

$br: 10px;

// Asset paths

$path-img  			: '../img';
$path-font 			: '../fonts';
$path-icon 			: '../icon';
$path-icon-Letter 	: '../icon/alphabet';
$path-logo 			: '../logo';
// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';

// Layout
$max-width		: 1000px;
$gutter			: 10px;

// Breakpoints
$breakpoints: (
  'xs': 575px, 
  'sm': 576px,
 'med': 768px,
  'lg': 992px,  
);