
$white          : #fff;
$black          : #000;

$Honeysuckle	: #FAFD7B;
$CreamCan		: #F3C362;
$Sinbad			: #AFDBD1;
$BabyPink		: #EDC8CD;
$White			: #FFFFFF;


$Opacity-fifty	: 50%;


$color-shadow       : rgba($black,.5);

// $stack-roboto  : 'Roboto', sans-serif;
$stack-nunito  : 'Nunito', sans-serif;

$font-light		: 300;
$font-regular	: 400;
$font-bold		: 700;

// Border radius

$br: 10px;

// Asset paths

$path-img  			: '../img';
$path-font 			: '../fonts';
$path-icon 			: '../icon';
$path-icon-Letter 	: '../icon/alphabet';
$path-logo 			: '../logo';
// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';

// Layout
$max-width		: 1000px;
$gutter			: 10px;

// Breakpoints
$breakpoints: (
  'xs': 575px, 
  'sm': 576px,
 'med': 768px,
  'lg': 992px,  
);