#background {
	// border-bottom: 100vh solid #F5D04C;
	// border-left: 180px solid transparent;
	// border-right: transparent;
	// border-right: 180px solid transparent;
	// height: 100vh;
	width: 100vw;
	height: 150vh;
	position: absolute;
	z-index: -1;
	transform: translate(45%);
	background-color:  grey;
	transform: rotate(7deg);
	right: -4%;
	// left: 45%;
	// .bgsvg {
	// 	width: 100vw;
	// 	position: absolute;
	// 	left: 0;
	// #backgroundsvg {
	// 	position: absolute;
	// }
	// }

	// YELLOW
	// background: $Mustard; /* For browsers that do not support gradients */
	// background: -webkit-linear-gradient($Mustard, $DarkMustard); /* For Safari 5.1 to 6.0 */
	// background: -o-linear-gradient($Mustard, $DarkMustard); /* For Opera 11.1 to 12.0 */
	// background: -moz-linear-gradient($Mustard, $DarkMustard); /* For Firefox 3.6 to 15 */
	// background: linear-gradient($Mustard, $DarkMustard); /* Standard syntax */

	// TEAL
 	background: $Sinbad; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient($LightSinbad, $Sinbad); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient($LightSinbad, $Sinbad); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient($LightSinbad, $Sinbad); /* For Firefox 3.6 to 15 */
  	background: linear-gradient($LightSinbad, $Sinbad); /* Standard syntax */

	// BLUE
    // background: $Malibu; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient($LightMalibu, $Malibu); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient($LightMalibu, $Malibu); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient($LightMalibu, $Malibu); /* For Firefox 3.6 to 15 */
    // background: linear-gradient($LightMalibu, $Malibu); /* Standard syntax */

    // background: $BabyPink; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient($LightBabyPink, $BabyPink); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient($LightBabyPink, $BabyPink); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient($LightBabyPink, $BabyPink); /* For Firefox 3.6 to 15 */
    // background: linear-gradient($LightBabyPink, $BabyPink); /* Standard syntax */

    // background: $black; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient($DarkGrey, $black); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient($DarkGrey, $black); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient($DarkGrey, $black); /* For Firefox 3.6 to 15 */
    // background: linear-gradient($DarkGrey, $black); /* Standard syntax */

    // background: $Grey; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient($LightGrey, $Grey); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient($LightGrey, $Grey); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient($LightGrey, $Grey); /* For Firefox 3.6 to 15 */
    // background: linear-gradient($LightGrey, $Grey); /* Standard syntax */


}















