.background {
	border-bottom: 100vh solid $Sinbad;
	border-left: 180px solid transparent;
	border-right: 180px solid transparent;
	height: 0;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.bg-right {
	left: calc(50% - 90px);
}
.bg-left {
	right: calc(50% - 90px);
}

