
.main-content{
	height: 100vh;
	position: relative;
	.line {
			content: '';
			height: 2px;
			width: 24%;
			bottom: 20%;
			left: 13%;
			background-color: $black-opacity;
			position: absolute;
	}
}

.first-half {
	display: flex;
	height: 100vh;
	justify-content: space-between;
	// position: absolute;
	flex-direction: column;
	align-content: center;
	align-items:center;
	// left: 0;
	.user-input{
		align-self: center;
		margin: auto;
		.input {
		margin: auto;
		box-shadow: none;
		background: transparent;
		border-style: none;
		outline: none;
		position: relative;
		width: 300px;
		}
		// &:after{
		// 	content: '';
		// 	height: 2px;
		// 	width: 200px;
		// 	background-color: $black-opacity;
		// 	position: absolute; 
		// }
	}
	.controls-icon{
		height: 42px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 8%;
		position: relative;

	.firstLine {
			height: 2px;
			width: 80%;
			top: -100%;
			background-color: $black-opacity;
			position: absolute;
	}
		// .control {
		// 	margin: 20px;
		// }
	}
}


.second-half{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	align-items:center;
	position: absolute;
	right: 0;
	#container {
		margin: auto;
		height: calc(100vh - 200px);
		width: calc(50vw - 200px);
	}
	#btn-share {
		margin-bottom: 10%;
	}
}

.third-half {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	height: 100vh;
	right: -100%;
	// opacity: 0;
	.letters-row {
		&-an{
			position: absolute;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 16px;
		}
		&-oo{
			@extend .letters-row-an; 
		}
		&-110{
			@extend .letters-row-an;	
		}

	}
	.letters{
		justify-content: center;
	}
	.letter {
	margin: 6px;

	svg {
		height: 60px;
		margin: auto;
		width: auto;
		margin-left:10
	}
	}
	.alphabet-filter {
		align-self: flex-end;
		justify-content: center;
		margin-bottom: 8%;
		
     	position: relative;
    	z-index: 200;
	    // bottom: 64px;

		.firstLine {
			height: 2px;
			width: 80%;
			top: -90%;
			background-color: $black-opacity;
			position: absolute;
			justify-content: center;
	}
	}
	.alphabet-filter .filter {
		margin: 0 30px;
		#btn-filter {
			height: 42px;
		}
	}
}




// id='letter-outline' class='letter-outline'

// id="palm" class="palm"

#letter-outline, #Shape {
	fill: none;
	
}
#letter-outline {
	width: 200px;
	height: auto;
}
#A {
	width: 200px;
	height: auto;
}
.letters #letter-outline { /*stafurinn*/

	stroke: #000;
	stroke-dasharray: 430px;
	stroke-dashoffset: 430px;
	// animation: lettersFill 4s forwards;
	fill: none;
}

.letters .palm { /*fyllingin inni höndinni*/
	fill: $White;
	// animation: lettersFillHand 4s forwards;
}

.letters #Shape { /*höndin*/
	stroke-linecap: round;
	stroke-linejoin: round;
	// stroke: #000;
	stroke-dasharray: 110px;
	stroke-dashoffset: 110px;
	// animation: lettersHandLines 3s forwards;
}

.numbers .start.stafur { /*stafurinn*/
	stroke-miterlimit: 10;
	stroke: #616161;
	stroke-dasharray: 430px;
	stroke-dashoffset: 430px;
	// animation: numbersFill 3s forwards;
	fill: none;
}

.numbers .start.palm {
	fill: #4a4a4a;
	// animation: numbersFillHand 3s forwards;
}

.numbers .start#Shape { /*höndin*/
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #616161;
	stroke-dasharray: 110px;
	stroke-dashoffset: 110px;
	// animation: numbersHandLines 3s forwards;
}














