header {
	width: 100vw;
	position: static;
	.logo{
		top: 40px;
		left: 40px;
		position: absolute;
		width: 70px;
		content: url('../logo/logo-circle-wh-on-bl.png');
	}
}

@keyframes rotateMenuX {
	from{
		transform: rotate(0);}
	to{
		transform: rotate(450deg) translate(35%,20%);
}
}
