// %btn {
//   color: $white;
//   display: inline-block;
//   font-weight: bold;
//   text-decoration: none;
//   text-transform: uppercase;
//   padding: 0.75em 1.5em;
//   border-radius: 0.35em;
//   transition: opacity 0.3s;
//   &:hover {
//     color: $white;
//     opacity: 0.8;
//   }
//   &:active {
//     opacity: initial;
//   }
// }

button {
  outline: none;
  // font-family: $stack-nunito;
}





#btn {
  &-loop {
    position: relative;
    text-align: center;
    margin: 20px;
    // &:hover:after{
    
    //   content: '';
    //   width: 100px;
    //   height: 30px;
    //   background-color: $Sinbad;
    // }
    &:hover {
      @extend .hover;
    }
   .ball {
    width: 9px;
    height: 9px;
    background-color: $black;
    transform: translate(150%, -60%);
    border-radius: 100%;
    position: absolute;
    animation: endlessloop linear 2s infinite;
  }
  }

  &-pause {
    text-align: center;
    margin: 20px;
    &:hover {
      @extend .hover;
    }
  }
  &-word {
    text-align: center;
    margin: 20px;
    &:hover {
      @extend .hover;
    }
  }
  &-share{
    @extend .squareButton;
  }

  &-alpha {
    @extend .sideButton;
    right: 0;
    border-radius: 100px 0 0 100px;

  }

  &-write{
    @extend .sideButton;
    left: -100%;
    opacity: 0;
    border-radius: 0 100px 100px 0;
  }

  &-filter {

    :after{
      @extend .hover;
      font-family: $nunito-bold;
      content: '';
      width: 100px;
      height: 30px;
      // background-color: $Sinbad;
    }
    &:hover {
      @extend .hover;
    }
     &:visited {
      color: yellow;
    }
  }
}

