// %btn {
//   color: $white;
//   display: inline-block;
//   font-weight: bold;
//   text-decoration: none;
//   text-transform: uppercase;
//   padding: 0.75em 1.5em;
//   border-radius: 0.35em;
//   transition: opacity 0.3s;
//   &:hover {
//     color: $white;
//     opacity: 0.8;
//   }
//   &:active {
//     opacity: initial;
//   }
// }

button {
  outline: none;
  // font-family: $stack-nunito;
}
#btn {
  &-share{
  font-family: $nunito-light;
  border: solid 1px $white;
  color: $white;
  opacity: 50%;
  background-color: transparent;
  height: 42px;
  width: 192px;
  font-size: 16px;
  transition: .5s ease;
  letter-spacing: 5px;
  margin-bottom: 90px;
  &:hover {
    background-color: $black-opacity;
    color: $Sinbad;
    border: none;
  }
  &:active {
    background-color: $black-opacity;
    color: $Sinbad;
    border: none;
  }
  }
  &-alpha {
    position: absolute;
    right: 0;
    z-index: 10;
    font-family: $nunito-bold;
    color: $black-opacity;
    align-self:center;
    background-color: $white-opacity;
    font-size: 18px;
    width: 50px;
    border:  none;
    height: 50px;
    border-radius: 100px 0 0 100px;
    transition: .3s ease;

    &:hover {
      border: none;
      width: 70px;
    }
    &:active {
      transition: .01s ease;
      border: none;
    }
  }
}
