    .modal {
    opacity: 0;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba($White, .85);
    &:hover {
        cursor: url(../icon/close-btn.png),auto;
    }

    /* Modal Content/Box */
}
    .modal-content {
        background-color: $LightSinbad;
        border-radius: 3px;
        margin: auto; /* 15% from the top and centered */
        padding: 20px;
        height: 70%; 
        width: 30%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        &:hover {
            cursor: initial;
        }
        // .close {
        //     color: $black-opacity;
        //     font-size: 48px;
        //     font-family: $nunito-light;
        //     position: absolute;
        //     right: -50px;
        //     top: -60px;
        // &:hover,
        // &:focus {
        //     color: black;
        //     text-decoration: none;
        //     cursor: pointer;
        //     }
        // }

}
    
.hand-gif{
    height: 70%;
    border-radius: 3px;
    margin: auto;  
    background-color: $Sinbad;
    display: flex;
    align-items: center;
    justify-content: center;
        #gif {
        height: auto;
        max-width: 200px;
        width: 100%;
        }
    }

.color-pick {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 6% 0;
    .gif-bg-color{
        height: 12px;
        width: 12px;
        border-radius: 100%;
        margin: 2%;
        &:hover {
            @extend .hover;
        }
    }
    .pick {
        &-pink{background-color: $BabyPink;}
        &-green{background-color: $Sinbad;}
        &-yellow{background-color: $Honeysuckle;}
        &-orange{background-color: $CreamCan;}
        &-blue{background-color: $Malibu;}
    }
}

.modalLine {
        content: '';
        height: 2px;
        width: 80%;
        background-color: $black-opacity;
        }

.social-icons {
    display: flex;
    position: relative;
    margin: 2%;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
 
    .icon {
        margin:0% 4% 4%;
    }
        #twitter { @extend .socialIcon;}
        #instagram { @extend .socialIcon;}
        #facebook { @extend .socialIcon;}
        #messenger { @extend .socialIcon;}
        #download { @extend .socialIcon;}
}




























