@include nunito-light('Nunito', Nunito-Light);
@include nunito-regular('Nunito', Nunito-Regular);
@include nunito-bold('Nunito', Nunito-Bold);

// @include font-face('Roboto', Roboto-Black);
// @include font-face('Roboto', Roboto-Thin);
// @include font-face('Roboto', Roboto-Regular);

h1{
	// font-family: $stack-nunito;
	// font-weight: $font-bold;
}


h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
	// font-family: $stack-nunito;
}

p {
	// font-family: $stack-nunito;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}







