@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url('#{$path-font}/#{$file}.eot');
    src: url('#{$path-font}/#{$file}.eot?#iefix') format('embedded-opentype'),
         url('#{$path-font}/#{$file}.woff') format('woff'),
         url('#{$path-font}/#{$file}.ttf') format('truetype');
  }
}


// Text

@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}


